@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Shadows Into Light', cursive;
  font-size: 21px;
  background-color: #f8f0dc;
  color: var(--main-text-color);
  line-height: 1.5;
  margin: 0;
}
