.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dc9373;
  height: 50px;

  top: 0;

  a {
    color: #ebe6e0;
    text-decoration: none;
    line-height: 1.5;
    margin-right: 10px;
    padding: 10px;
  }
}
