.productImage {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;
}

.linksStyle {
  margin-left: 100px;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.descriptionStyle {
  position: relative;
  bottom: 100px;
  width: 50%;
  text-align: center;
  margin-left: 300px;

  p {
    font-size: 1.3rem;
  }
}

@media (max-width: 560px) {
  .descriptionStyle {
    margin-top: 160px;
    margin-left: 110px;
  }
  .addToCart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price {
    text-align: center;
    color: #ad6f6d;
    font-size: 24px;
    font-weight: bold;
  }
}

.h1 {
  margin-top: 200px;
  text-align: center;
}
